.container {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 550px;
  padding: 30px;
  border: solid 3px #3f51b5;
}
.form {
  margin-top: 24px;
  padding: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-weight: bold;
}
.input {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 40px;
  width: 100%;
}
.loading {
  margin-top: 24px;
  text-align: center;
}
.loadingText {
  margin-left: 40px;
}
